footer {
    min-height: 60px;
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
    text-align: center;
}

footer span {
    font-size: 0.85em;
    color: lightgray;
}
